{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
        <h1>Error en la ejecución del programa</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div class="LineaFormulario">
            <img src="{{ asset('bundles/unirecetas/img/error.jpeg') }}"/>
        </div>
{% endblock %}
