{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Nuevo autor</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('autor') }}">
            Volver atrás
        </a>
    </li>
</ul>
{% endblock %}
