{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Editar categoría</h1>
   
        {{ form(edit_form) }}    
   
   <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('categoria') }}"> Volver atrás</a>          
    </div>
{% endblock %}
