{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Añadir categoría</h1>

    {{ form(form) }}

   <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('categoria') }}"> Volver atrás</a>          
    </div>
{% endblock %}
