{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Editar ingrediente</h1>

    {{ form(edit_form) }}
      
    
    <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('ingrediente') }}"> Volver atrás</a>
           {{ form(delete_form) }}
        </div>
{% endblock %}
