{% extends 'uniRecetasBundle::layout.html.twig' %}

{% block central -%}
    <h1>Nuevo ingrediente</h1>

    {{ form(form) }}   
        
       <div class="LineaFormulario">  </div>
       <div class="LineaFormulario">   
            <a href="{{ path('ingrediente') }}"> Volver atrás</a>          
       </div>
{% endblock %}
